.DS_Store
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.rb~
lib/marc_cleanup/credentials.rb
*.log
tasks/
marctofix/
fixed/
marc/
xml/
logs/
json/
# rspec failure tracking
.rspec_status
.byebug_history
